* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
}

header {
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    height: 29.8rem;
    padding-top: 10px;
}

.navMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo img{
    width:auto;
    height: 10px;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: calc(100% - 60px);
}

.hero-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero h2 {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.search-bar {
    background-color: #ffffff;
    height: 3.6rem;
    display: flex;
    width: 70%;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.citySearch{
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.citySearch img{
    width: 25px;
}

.search-bar input {
    flex-grow: 1;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
}

.search-bar button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}
.search-bar button img{
    opacity: 50%;
    width: 20px;
}

.categories {
    padding: 2rem;
    padding-top: 2.5rem;
    width: 100%;
}

.categories h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.category-grid {
    padding-left: 120px;
    display: flex;
    justify-content: flex-start;
}

.category-item {
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    width: 40%;
    text-align: center;
    overflow: hidden;
    border-radius: 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.category-item:hover {
    transform: scale(1.05);
}

.category-item-des{
    height: 30%;
    padding-left: 20px;  
}

.category-item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.category-item div p{
    text-align: left;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    border-radius: 0 0 8px 8px;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.popular-localities {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.popular-localities .title {
    margin-bottom: 1rem;
}

.popular-localities .title p {
    color: rgb(54, 54, 54);
    font-size: 2.6rem;
    font-weight: 400;
}

.city-name{
    font-weight: 500;
}

.locality-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.locality-item {
    text-decoration: none;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
}
.locality-item:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.locality-item h5 {
    color: rgb(54, 54, 54);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.locality-item p {
    color: #6b6b6b;
}

.locality-item svg {
    width: 15px;
    height: 15px;
    fill: #1C1C1C;
}


.app-container{
    background-color: rgb(255, 251, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
}
.app-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.app-header{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image{
    width: 250px;
}
.app-title{
    font-size: 3.2rem;
    font-weight: 400;
}
.app-description, .radio-text{
    color:rgb(54, 54, 54);
    font-size: 1.1rem;
}
.app-input{
    display: flex;
    gap: 10PX;
}
.input-field{
    padding: 10px;
    min-width: 200px;
    width: 60%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.305);
}
.shareAppBtn{
    height: 3rem;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 300;
    background-color: rgb(239, 79, 95);
    color: rgb(255, 255, 255);
}
.app-download-from{
    color: rgb(156, 156, 156);;
}
.app-store-links{
    display: flex;
    gap: 20px;
}
.store-image{
    width: 137px;
}

.explore-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explore-container h1{
    text-align: left;
    color: rgb(54, 54, 54);
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 20px;
    width: 80%;
}

#accordion{
    width: 80%;
}
.card{
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 90vw;
}
.card-header{
    background-color: #ffffff;
    border-bottom: none ;
}
.decsrpBtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    color: #1C1C1C;
}
.decsrpBtn:hover{
    text-decoration: none;
    color: #1C1C1C;
}
.decsrpBtn:focus{
    text-decoration: none;
}
.card-body{
    color: rgb(130, 130, 130);
    font-size: 1.2rem;
}




.footer__container{
	width: 100%;
	margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_div{
	width: 90%;

}

.footer_section1{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 70;
}

.footer_section1 img{
	width: 130px;
}

.section1__button_container button{
	padding: 7px;
	border: 1px solid gray;
	border-radius: 8px;
	cursor: pointer;
}

.section1__button_container button:nth-child(2){
	margin-left: 7px;
}

.navigation_container{
	display: grid;
	grid-template-columns : repeat(5, 1fr);
	margin: auto;
	gap: 1rem;
	padding: 3rem 0;
}

.link_container{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.link_container h5{
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.link_container_anchors a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	text-transform: none;
	color: gray;
	gap: 5px;
	font-weight: 400;
	margin-bottom: 4px;
}

.link_container_anchors a:hover{
	color: black;
}

.link_container h5[id=enterprises]{
	margin-top: 10px;
	letter-spacing: 1px;
}

.social_media_logos{
	margin: 18px 30px;	
}

.social_media_logos img{
	width: 80%;
    margin-left: -28px;
	cursor: pointer;
}

.social_media_logos img[id=img2]{
	margin-top: 5px;
}

.social_media_icon_buttons button{
	background: black;
	border: none;
	border-radius: 50%;
	height: 22px;
	width: 22px;
	cursor: pointer;
	color: white;
}

.social_media_icon_buttons button i{
	display: flex;
	font-size: 13px;
	justify-content: center;
	align-items: center;
}

.disclaimer{
	font-size: 1.2rem;
    color: gray;
    margin-top: auto;
	border-top: 1px solid #C0C0C0;
	padding-top: 20px;
}